{% extends "layout.html" %}

{% block scripts %}

<link rel="stylesheet" href = "{{ url_for('static', filename='gameplay/gameplay-css.css') }}">
<link id="cell-styles" rel="stylesheet" href = "{{ url_for('static',filename='gameplay/cellStyle.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
<script> // These are to load all the static elements. Weird mess because jinja templating can't be used in the external script file.
myPlayerIndex = {{ player|tojson|safe }};
room_name = {{ gameConfig.room_name|tojson|safe }};

player_0_name = {{gameConfig.playerNames[0]|tojson|safe}}

if (myPlayerIndex == 1) {
		player_1_name = {{gameConfig.playerNames[1]|tojson|safe}};
		my_player_name = player_1_name;
}

else {
	my_player_name = player_0_name;
}

loading_gif_url = "{{ url_for('static', filename='gameplay/loading.gif') }}"
cellStyle_url = "{{ url_for('static',filename='gameplay/cellStyle.css') }}"
</script>
<script src = "{{ url_for('static', filename='gameplay/gameplay-js.js') }}">// All real scripting happening in this file.</script> 

{% endblock %}

{% block content %}


<div starting-info>
<span id="room-name">
Room name: {{gameConfig.room_name | safe}}
</span>
<span id="score">
</span>
</div>
</table>
<table id="player-info">
<tbody >
	<tr>
	<td id="player-0" class="player-individual">
		<table id="player-0-table" class="player-individual-table">
		<tr>
			<td id="player-0-loading" class="player-loading">
				<span id="loading-div-0" class="loading-div"></span>
			</td>
			<td id="player-0-name" class="player-name">	
			</td>
			<td id="player-0-role" class="player-role">
			</td>
		</tr>
		</table>
	</td>

	<td id="player-1" class="player-individual">
		<table id="player-1-table" class="player-individual-table">
		<tr>
			<td id="player-1-loading" class="player-loading">
				<span id="loading-div-1" class="loading-div"></span>
			</td>
			<td id="player-1-name" class="player-name">
			</td>
			<td id="player-1-role" class="player-role">
			</td>
		</tr>
		</table>
	</td>
	</tr>
</tbody>
</table>
<div id="playing-area">
<div id="chat-area">
<div id="chat"></div>                 
<div id="send-msg-panel">
    <input type="text" id="textfield-input"  class="textfield"> 
    <button id="send-button" class="is-primary">Send</button>
</div>
</div>

<button class="button" id="surrenderButton" onclick="surrender()">Surrender</button>
<table id="playing-board">
<tbody>
	{% for i in range(6) %}
	<tr>
		{% for j in range(6) %}
		<td class="game-tile game-tile-0" id="cell-{{i}}-{{j}}"></td>
		{% endfor %}
	</tr>
	{% endfor %}
</tbody>
</table>
</div>

<div id="chooseRole" class="hover-box">
	<p align="center" style="margin-bottom: 35px;"> Choose your role: </p>
	<input id="order-button-chooser" type="button" value="Order" onclick="roleChosen(0)">
	<input id="chaos-button-chooser" type="button" value="Chaos" onclick="roleChosen(1)">
</div>

<div id="newGame" class="hover-box">
	<p align="center" style="margin-bottom: 35px;"> Play again? </p>
	<input id="order-button-chooser" type="button" value="Yes" onclick="newGame(true)">
	<input id="chaos-button-chooser" type="button" value="No" onclick="newGame(false)">
</div>

<button class="button" id="redButton" onclick="redTurn()">Red</button>
<button class="button" id="blueButton" onclick="blueTurn()">Blue</button>

{% endblock %}


{% block postscripts %}

<script>

/*window.onload = function() { 


	document.getElementById('player-0-name').innerHTML = {{gameConfig.playerNames[0]|tojson|safe}};

	if (myPlayerIndex == 0) {

		setPlayerLoading(1);
		document.getElementById('player-1-name').innerHTML = "Waiting for other player...";
		beforeGameStartLoop();
	}

	else if (myPlayerIndex == 1) {
		setPlayerLoading(0);
		document.getElementById('player-1-name').innerHTML = {{gameConfig.playerNames[1]|tojson|safe}};
		waitGameStartLoop();
	}
}*/
			
</script>

{% endblock %}